<app-e-header></app-e-header>

<!--All Referrals-->
<div class="container" id="mycontainer">
  <div class="row">
    <div *ngFor="let referral of referrals" class="col-md-12 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body" style="text-align: center;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>{{referral.name}}</b></li>
           </ul>
          </div>
          <ul class="list-group list-group-flush">
      
            <li class="list-group-item"><i class="float-right"></i><b>Role: </b></li>
            <li class="list-group-item"><i class="float-right"></i><b>Stage:</b> Stage 1</li>
            <li class="list-group-item"><i class="float-right"></i><b>Status: {{referral.approved}}</b></li>
           </ul>
       </div>
    </div>
  </div>
  </div>
  
