<app-r-header></app-r-header>

<!--Current Stage-->
<div class="container" id="mycontainer">
  <div class="row">
    <div    *ngFor="let referral of referrals; let i =index" class="col-md-12 col-xl-3">
       <div  *ngIf ="referral.approved==true" class="card m-b-30">
          <div class="card-body" style="text-align: center;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>{{referral.name}}</b></li>
           </ul>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="float-right"></i><b>Role:&nbsp;</b> Software Engineer</li>
            <li class="list-group-item"><i class="float-right"></i><b>Stage:&nbsp;</b>{{referral.stage}}</li>
           </ul>
           <div class="card-body" style="text-align: center;">
            <div class="btn-group btn-group-sm">
             <a style="background-color: #09f344;padding: 5px;color: black;" (click)="onOpenModal('stage')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Refer">UPDATE STAGE</a>
            </div>
         </div>
       </div>
    </div>
  </div>
  </div>
<!--Update Stage Modal-->
<div class="modal fade" id="stageModal" tabindex="-1" role="dialog" aria-labelledby="stageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="stageModalLabel">Current Stage Of A Candidate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #referForm="ngForm">
          <!--<div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="id" placeholder="Name" required>
         </div>
         <div class="form-group">
          <label for="email">Email</label>
          <input type="text" ngModel name="type" class="form-control" id="type" placeholder="Email" required>
         </div>-->
         <div class="form-group">
          <label for="stage">Stage</label>
          <select class="form-control" id="stage">
            <option>Stage 1</option>
            <option>Stage 2</option>
            <option>Stage 3</option>
          </select>
         </div>
         <!--<div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status">
            <option>Approved</option>
            <option>Pending</option>
            <option>Rejected</option>
          </select>
         </div>-->
          <div class="modal-footer">
             <button type="button" id="add-product-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="referForm.invalid" type="submit" class="btn btn-primary" >UPDATE STAGE</button>
          </div>
          </form>
       </div>
    </div>
  </div>
</div>
